@page
@model COVID.App.Frontend.Pages.EliminarProfesoresModel
@{
}
<h1>Eliminar Profesor</h1>
<h2>Se va a eliminar el profesor</h2>
<table class="table">
    <tr>
        <td>Nombre: </td>
        <td>@Model.profesores.nombre</td>       
    </tr>
    <tr>
        <td>Apellido: </td>
        <td>@Model.profesores.apellido</td>
    </tr>
    <tr> 
        <td>Edad: </td>
        <td>@Model.profesores.edad</td>
    </tr>
    <tr>
        <td>Estado: </td>
        <td>@Model.profesores.estado</td>
    </tr>
    <tr>
        <td>Departamento: </td>
        <td>@Model.profesores.departamento</td>
    </tr>
    <tr>
        <td>Asignatura: </td>
        <td>@Model.profesores.asignatura</td>
    </tr>
    
</table>
<form method="post">
    <input type="hidden" asp-for="profesores.id">
    <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
    <a asp-page="/Listas/Profesor/Profesor" class="btn btn-primary">Gestor de Profesores</a>
    <a class="btn btn-primary table-btn" asp-area="" asp-page="/Index">
        <i class="fas fa-home">Inicio</i>
    </a>
</form>