@page
@model COVID.App.Frontend.Pages.EliminarPersonalModel
@{
}
<h1>Eliminar Personal de Aseo</h1>
<h2>Se va a eliminar el siguiente Personal de Aseo</h2>
<table class="table">
    <tr>
        <td>Nombre: </td>
        <td>@Model.personal_aseo.nombre</td>       
    </tr>
    <tr>
        <td>Apellido: </td>
        <td>@Model.personal_aseo.apellido</td>
    </tr>
    <tr> 
        <td>Edad: </td>
        <td>@Model.personal_aseo.edad</td>
    </tr>
    <tr>
        <td>Estado: </td>
        <td>@Model.personal_aseo.estado</td>
    </tr>
    <tr> 
        <td>Turno: </td>
        <td>@Model.personal_aseo.turno</td>
    </tr>

</table>
<form method="post">
    <input type="hidden" asp-for="personal_aseo.id">
    <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
    <a asp-page="/Listas/Persona_Aseo/Personal" class="btn btn-primary">Gestor de Personal de Aseo</a>
    <a class="btn btn-primary table-btn" asp-area="" asp-page="/Index">
        <i class="fas fa-home">Inicio</i>
    </a>
</form>