@page
@model COVID.App.Frontend.Pages.PersonalModel
@{
}
<h1>Gestor de Personal de Aseo</h1>

<h2>Lista de Personal de Aseo</h2>
<table class="table">
    <tr>
            <td><b>Nombre</b></td>
            <td><b>Apellidos</b></td>
            <td><b>Edad</b></td>
            <td><b>Estado COVID</b></td>
    </tr>
    @foreach(var personal_aseo in Model.Personal_Aseo)
    {
        <tr>
            <td>@personal_aseo.nombre</td>
            <td>@personal_aseo.apellido</td>
            <td>@personal_aseo.edad</td>
            <td>@personal_aseo.estado</td>
            <td>
                <a class="btn btn-primary table-btn"  asp-page="/Listas/Persona_Aseo/DetallesPersonal" asp-route-idpersonal_aseo="@personal_aseo.id">
                    <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
                    Detalle
                </a>
            </td>
            <td>
                <a class="btn btn-secondary table-btn"  asp-page="/Listas/Persona_Aseo/EditarPersonal" asp-route-idpersonal_aseo="@personal_aseo.id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                    Editar
                </a>
            </td>
            <td>
                <a class="btn btn-danger table-btn"  asp-page="/Listas/Persona_Aseo/EliminarPersonal" asp-route-idpersonal_aseo="@personal_aseo.id">
                    <i class="fas fa-book-dead fa-lg" aria-hidden="true"></i>
                    Eliminar
                </a>
            </td>
            
        </tr>
    }
</table>

<a asp-page="/Listas/Persona_Aseo/EditarPersonal" class="btn btn-primary">Adicionar Personal</a>
<a class="btn btn-primary table-btn" asp-area="" asp-page="/Index">
    <i class="fas fa-home">Inicio</i>
</a>